<h1>Events  index  page</h1>


<h3>The Up-coming Events</h3>
<ul>
<% @events.future_event.each do |event| %>
    <li>
    <%=event.event_name%><br>
    </li>
<%end%>
</ul>

<h3>The Past Events</h3>
<ul>
<% @events.past_event.each do |event| %>
    <li>
    <%=event.event_name%><br>
    </li>
<%end%>
</ul>
